.footer-nav {
  .nav {
    &__item {
      margin-bottom: r(16);
      &:first-child {
        margin-bottom: r(32);
        
        .nav__link {
          font-size: r(20);
          line-height: 1.2;
          font-weight: 500;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__link {
      color: $color--white;
      text-decoration: none;
      font-size: r(14);
      line-height: 1.71;
      opacity: 0.86;
      display: block;
      &:hover {
        opacity: 1;
      }
    }
  }
}