$select-padding-y = 14;
$select-padding-x = 20;
$select-arrow-width = 40;
$z-index--dropdown = 99;
$select-font = $font-base;
$select-font-size = 18;
$select-border-width = 3;
$select-border-color = $white;
$select-border-radius = 9;
$select-bg = transparent;
$select-dropdown-bg = $white;
$select-bg--selected = transparent;
$select-color = $black;
$select-placeholder-color = $white;
$select-color--selected = $primary;
$select-shadow = 0px vmin(5.4) vmin(8) rgba(0, 0, 0, 0.25);