include ../mixins
.row.separator.l-hidden-md-down
  .l-container
    .breadcrumb
      .breadcrumb__item
        a.home(href='/')
          +icon('home')
      .breadcrumb__item
        a(href='#')
          | Одежда
      .breadcrumb__item.current
        span
          | Платья