$select-padding-y = 22;
$select-padding-x = 16;
$select-arrow-width = (18 + 24);
$z-index--dropdown = 9;
$select-font = $font-base;
$select-font-size = 14;
$select-border-width = 1px;
$select-border-color = $color--grey_light;
$select-border-radius = 4;
$select-bg = $color--white;
$select-dropdown-bg = $color--white;
$select-bg--selected = $color--grey_light;
$select-color = $color--black_light;
$select-placeholder-color = $color--grey_dark;
$select-color--selected = $color--black;
$select-shadow = 0 8px 16px 0 rgba(0, 0, 0, 0.2);