extends template

prepend page
  - var layout = 'default';
  - var currentPage = 'catalog';
  - var pageTitle = false;
  - var pageDesc = false;
  - var pageImg = false;

block content
  include parts/elements/menu-top
  include parts/elements/breadcrumbs
  .page(class="page--" + currentPage)
    include parts/pages/catalog
    include parts/elements/pagination
  include parts/elements/text-section