extends template

prepend page
	- var layout = 'default';
	- var currentPage = 'contacts';
	- var pageTitle = false;
	- var pageDesc = false;
	- var pageImg = false;

block content
	include parts/elements/menu-top
	include parts/elements/breadcrumbs
	.page(class="page--" + currentPage)
		include parts/pages/contacts