extends template

prepend page
  - var layout = 'lookbook';
  - var currentPage = 'lookbook-catalog';
  - var pageTitle = false;
  - var pageDesc = false;
  - var pageImg = false;

block content
  include parts/elements/menu-top
  include parts/elements/breadcrumbs
  .page(class="page--" + currentPage)
    include parts/pages/lookbook-catalog
    include parts/pages/catalog
    include parts/elements/pagination