.category-card {
  &__link {
    display: block;
    color: $color--black_light;

    {hover-focus-active} {
      color: $color--black;
    }
  }
  &__img {
    padding-bottom: 138%;
    background-position center;
    background-repeat no-repeat;
    background-size cover;
  }
  &__title {
    padding: r(24) 0;
  }
}