$select-padding-y = 24;
$select-padding-x = 24;
$select-selection-padding-y = 16;
$select-selection-padding-x = 0;
$select-arrow-width = 0;
$z-index--dropdown = 9;
$select-font = $font-base;
$select-font-size = 14;
$select-border-width = 0;
$select-border-color = $color--grey_light;
$select-border-radius = 4;
$select-bg = $color--white;
$select-dropdown-bg = $color--white;
$select-bg--selected = $color--white;
$select-color = $color--black_light;
$select-placeholder-color = $color--grey_dark;
$select-color--selected = $color--grey;
$select-shadow = 0 8px 20px 0 rgba(0, 0, 0, 0.24);