include ../../mixins
.row
  .page__heading
    .l-container-medium
      h1.tp-heading--large !{company.title}
  .page__nav
    .l-container-medium
      +accordionNav(navs.company, 0)
  .page__content
    .about
      .about__section.about__section--1
        .l-container-medium
          .about__section-content
            .about__text.about__text--1.tp-text--light
              p EMI – российский бренд, впитавший в себя лучшие европейские традиции дизайна и производства. Сложный крой, качественные ткани и фурнитура, оригинальные детали создают определенный образ - элегантный, женственный, и вместе с тем практичный.
              p Наши дизайнеры – выпускники ведущих российских и европейских профильных учебных заведений, перенявшие опыт у известных модельеров. Они отслеживают мировые тенденции и совместно с мастерами портновского искусства воплощают их в коллекциях EMI. Профессионализм команды и нацеленность на высокий результат позволяют бренду идти в ногу со временем в стремительно меняющемся мире моды.
            .about__img.about__img--1: img(src="build/img/about-1.jpg", alt="")
      .about__section.about__section--2.bg--dark
        .l-container
          .about__section-content
            .about__title.tp-heading--large Emi - гармония интеллекта и стиля
            .about__text.about__text--2.tp-text--light
              p Основное производство EMI расположено в Санкт-Петербурге и Ленинградской области. Это позволяет ежедневно отслеживать качество продукции и контролировать полную цепочку выпуска изделий. Специалисты швейного дела – профессионалы высочайшего уровня, прошедшие все ступеньки советской школы легкой промышленности с соответствующим контролем качества. Кроме того, часть продукции бренда изготавливается на европейских фабриках и проходит строгую проверку соответствия нашим требованиям.
              p Фирменные бутики EMI открыты в Москве, Петербурге, Екатеринбурге и Тюмени. Также бренд представлен более чем в 50 мультибрендовых магазинах по всей России.
      .about__section.about__section--3
        .l-container-medium
          .about__section-content
            .about__img.about__img--2: img(src="build/img/about-2.jpg", alt="")
            .about__text.about__text--3.tp-text--light
              p Наш покупатель – успешная женщина: активная, целеустремленная и практичная; в то же время она изысканная и романтичная. Современная героиня, которая знает, что лучшая инвестиция – это самосовершенствование и самореализация в самых разнообразных направлениях современной жизни.