include ../../mixins
.row
  .l-container-medium
    .page__heading
      h1.tp-heading--large Доставка
    .page__nav
      +accordionNav(navs.clients, 1)
    .page__content
      .page__text
        .tp-heading--big Курьерская доставка до двери
        p.tp-body--base Стоимость рассчитывается индивидуально. Срок доставки от 3-х до 4-х рабочих дней без учета дня отправления. Возможна оплата товара при получении, в этом случае вне зависимости от стоимости покупки, оплачивается доставка
        .tp-heading--big Доставка в пункты выдачи заказов
        p.tp-body--base Стоимость
        p.tp-body--base
          | Бесплатно (при покупке от 10000 ₽)
          br
          | 400 руб. (при покупке на сумму менее 10000 ₽)
          br
          | Срок доставки - от 1 до 3-х рабочих дней без учета дня отправления (в отдаленные регионы срок доставки может быть дольше)
        .tp-heading--big Доставка в магазины Emi
        p.tp-body--base Стоимость рассчитывается индивидуально. Срок доставки от 3-х до 4-х рабочих дней без учета дня отправления. Возможна оплата товара при получении, в этом случае вне зависимости от стоимости покупки, оплачивается доставка
        .tp-heading--big Примерка заказа
        p.tp-body--base Примерка заказа до оплаты возможна в случае выбора доставки в магазины СТОКМАНН, в пункты выдачи либо курьером. При выборе курьерской доставки, у вас будет 15 минут на примерку. Время примерки в магазине СТОКМАНН - безгранично :)
        p.tp-body--base Если заказ не понравился, просто откажитесь от него или оплатите его частично.  При полном отказе от покупки при доставке курьером, следует оплатить стоимость доставки (даже в том случае, если заказ более 10 000 руб.).
        p.tp-body--base *Внимание! При курьерской доставке не во всех населенных пунктах есть возможность примерки и частичного отказа. Уточняйте особенности доставки в ваш населенный пункт у наших операторов. Доступность примерки в конкретном пункте выдачи заказов указана в подробной информации о пунктах выдачи заказов на этапе оформления заказа.