include ../../mixins
.row
  .l-container-medium
    .page__heading
      h1.tp-heading--large Оплата
    .page__nav
      +accordionNav(navs.clients, 0)
    .page__content
      .page__text
        .tp-heading--large Оплата картой на сайте
        p.tp-body--base При совершении покупки в шоу-руме оплата возможна как наличными, так и банковской картой. Для заказов на сайте возможны следующие способы оплаты:
        .tp-heading--big Наличными курьеру
        p.tp-body--base Если товар доставляется курьером по Москве и Санкт-Петербургу, то оплата осуществляется наличными курьеру в руки. Отправка в регионы осуществляется по 100% предоплате, но также есть возможность наложенного платежа (примерка в данном случае невозможна)
        .tp-heading--big Картой на сайте
        p.tp-body--base Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку «Оплата заказа банковской картой». Оплата происходит через ПАО СБЕРБАНК с использованием Банковских карт следующих платежных систем:
        p.tp-body--base 
          | МИР
          br
          | VISA International
          br
          | Mastercard Worldwide
        p.tp-body--base Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard SecureCode для проведения платежа также может потребоваться ввод специального пароля. Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl.