include ../../mixins
.row
  .l-container-medium
    .page__heading
      h1.tp-heading--large Возврат
    .page__nav
      +accordionNav(navs.clients, 2)
    .page__content
      .page__text.tp-body--base
        p
          | Возврат возможен в течение 14 дней с момента получения заказа - бланк для оформления возврата будет вложен в заказ. Необходимо его заполнить, приложить чек, копию паспорта и отправить посылку курьером до двери любым удобным для Вас сервисом курьерской службой доставки
          br
          | (KCE, СDEK, EMS, НО НЕ ПОЧТОЙ России и НЕ БОКСБЕРРИ).
        p Денежные средства поступят Вам на карту не позднее, чем через 5 рабочих дня после получения нами возврата. Продавец предоставляет Вам право на возврат товара надлежащего качества течение 14 дней после получения посылки.Такой возврат возможен в случае, если:
        p
          | изделие не было в употреблении
          br
          | сохранены его товарный вид (этикетки; ярлыки, содержащие характеристики товара; оригинальная упаковка производителя) и потребительские свойства;
          br
          | приложен документ, подтверждающий факт и условия покупки указанного Товара с заполненным бланком возврата, который прилагается к посылке.
          br
          | Изделия, поставляемые в комплекте, принимаются только в комплекте. При отказе Покупателя от товара Продавец возвращает ему сумму, уплаченную Покупателем в соответствии с договором, за исключением расходов Продавца на доставку от Покупателя возвращенного товара, не позднее чем через 14  дней с даты предъявления Покупателем соответствующего требования.
        p При возникновении спора о причинах появления дефекта в течение гарантийного срока магазин обязан провести экспертизу изделия за свой счет. Если в результате экспертизы будет установлено, что недостатки возникли вследствие обстоятельств, за которые не отвечает продавец (в т.ч. вследствие нарушений правил эксплуатации, хранения и ухода за изделием), Покупатель обязан возместить продавцу расходы на проведение экспертизы. Возврат изделий осуществляйте по адресу, указанному в заявлении на возврат.